* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Calibri, sans-serif;
	font-size: 100%;
}

h1,
h2,
h3,
h4 {
	font-family: Cambria, sans-serif;
}

header,
footer,
main,
aside,
article,
section,
nav,
figure,
figcaption {
	display:block;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $main-color;
  &:hover {

    color: lighten($main-color,50%);
  }
  }